.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: relative;
}

.panel {
    width: 100%;
    height: 50px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add {
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    border: 0px solid white;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 35%;
    background-image: url(icon/code.png);
    margin: 0px 15px;

}

#add:hover {
    border: 2px solid gray;
}

.decoration {
    width: 120px;
    height: 30px;

}

#bold {
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 0px solid white;
    background-color: white;
    margin: 0px -3px;
}

#bold:hover {
    border: 2px solid gray;
}

#italic {
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    font-style: italic;
    border: 0px solid white;
    background-color: white;
    margin: 0px -3px;
}

#italic:hover {
    border: 2px solid gray;
}

#underline {
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-decoration: underline;
    border: 0px solid white;
    background-color: white;
    margin: 0px -3px;
}

#underline:hover {
    border: 2px solid gray;
}

#through {
    width: 30px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-decoration: line-through;
    border: 0px solid white;
    background-color: white;
    margin: 0px -3px;
}

#through:hover {
    border: 2px solid gray;
}

.center {
    margin-left: 15px;
}

#left {
    width: 35px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/align-to-left.png);
    background-position: 32%;
    background-repeat: no-repeat;
    margin: 0px -3px;
}

#left:hover {
    border: 2px solid gray;
}

#center {
    width: 30px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/center-text-alignment.png);
    background-position: 32%;
    background-repeat: no-repeat;
    margin: 0px -3px;
}

#center:hover {
    border: 2px solid gray;
}

#right {
    width: 30px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/align-to-right.png);
    background-position: 32%;
    background-repeat: no-repeat;
    margin: 0px -3px;
}

#right:hover {
    border: 2px solid gray;
}

.color {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
}

#font {
    width: 50px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/font.png);
    background-position: 32%;
    background-repeat: no-repeat;
    margin: 0px -3px;
}

#arial {
    font-family: Arial, Helvetica, sans-serif;
}

#georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#tahoma {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tnr {
    font-family: 'Times New Roman', Times, serif;
}

#verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#font:hover {
    border: 2px solid gray;
}

#font_size {
    width: 50px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/font_size.png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
    padding-left: 20px;
}

#font_size:hover {
    border: 2px solid gray;

}

.color_button {
    width: 60px;
    height: 50px;
    display: flex;
    margin-top: 15px;
    margin-left: -3px;
}

#color_text {
    width: 30px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/app.png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
}

#color_text:hover {
    border: 2px solid gray;

}


#color_back {
    width: 30px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/app\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
}

#color_back:hover {
    border: 2px solid gray;
}


#block {
    width: 30px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/lock.png);
    background-repeat: no-repeat;
    background-position: 32%;
}

#text {
    width: 100%;
    height: 700px;
}

#back_grey {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 104, 104, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#color {
    display: none;
    flex-wrap: wrap;
    position: relative;
    width: 450px;
    height: 200px;
    background-color: white;
    z-index: 2;
    top: 80px;
    left: 74px;
    justify-content: center;
    border: 1px solid aquamarine;
}

.num_1 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: aqua;
    margin: 5px;
}

.num_2 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(0, 132, 255);
    margin: 5px;
}

.num_3 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(0, 255, 76);
    margin: 5px;
}

.num_4 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgba(0, 255, 42, 0.562);
    margin: 5px;
}

.num_5 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(0, 140, 255);
    margin: 5px;
}

.num_6 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(0, 4, 255);
    margin: 5px;
}

.num_7 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgba(174, 0, 255, 0.644);
    margin: 5px;
}

.num_8 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(245, 46, 178);
    margin: 5px;
}

.num_9 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(42, 30, 114);
    margin: 5px;
}

.num_10 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(50, 61, 110);
    margin: 5px;
}

.num_11 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(255, 208, 0);
    margin: 5px;
}

.num_12 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(255, 166, 0);
    margin: 5px;
}

.num_13 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(243, 155, 23);
    margin: 5px;
}

.num_14 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(255, 102, 0);
    margin: 5px;
}

.num_15 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(252, 67, 54);
    margin: 5px;
}

.num_16 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(247, 33, 33);
    margin: 5px;
}

.num_17 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(244, 248, 248);
    margin: 5px;
}

.num_18 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgba(126, 129, 129, 0.938);
    margin: 5px;
}

.num_19 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(51, 53, 53);
    margin: 5px;
}

.num_20 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(5, 5, 5);
    margin: 5px;
}

.num_21 {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(255, 0, 64);
    margin: 5px;
}

.panel_2 {
    width: 450px;
    height: 40px;
    background-color: white;
    border: 1px solid aquamarine;
    display: none;
    position: relative;
    top: 17px;
    left: 35%;
    padding-top: 20px;
}

#color_2 {
    width: 100px;
    height: 35px;
    color: grey;
    text-align: center;
}

#color_2:hover {
    color: rgb(34, 211, 211);
    border-right: 1px solid rgb(34, 211, 211);
    border-bottom: 1px solid rgb(34, 211, 211);
}

#img_2 {
    width: 100px;
    height: 35px;
    color: grey;
    text-align: center;
}

#img_2:hover {
    color: rgb(34, 211, 211);
    border-right: 1px solid rgb(34, 211, 211);
    border-bottom: 1px solid rgb(34, 211, 211);
}

#choose_2 {
    width: 100px;
    height: 35px;
    color: grey;
    text-align: center;
}

#choose_2:hover {
    color: rgb(34, 211, 211);
    border-right: 1px solid rgb(34, 211, 211);
    border-bottom: 1px solid rgb(34, 211, 211);
}

#img_23 {
    width: 450px;
    height: 300px;
    background-color: white;
    border: 1px solid aquamarine;
    display: none;
    position: relative;
    top: 80px;
    left: 74px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 150px;
    height: 80px;
    background-image: url(icon/503155.jpg);
    background-size: cover;
    margin: 20px;
}

.box2 {
    width: 150px;
    height: 80px;
    background-image: url(icon/561724.jpg);
    background-size: cover;
    margin: 20px;
}

.box3 {
    width: 150px;
    height: 80px;
    background-image: url(icon/568495.jpg);
    background-size: cover;
    margin: 20px;
}

.box4 {
    width: 150px;
    height: 80px;
    background-image: url(icon/425064.jpg);
    background-size: cover;
    margin: 20px;
}

.choose {
    width: 452px;
    height: 80px;
    display: none;
    background-color: white;
    position: relative;
    top: 79px;
    left: 74px;
}

#cf {
    width: 300px;
    height: 25px;
    margin: 20px;
    border: 1px solid rgb(34, 211, 211);
    border-radius: 5%;
    padding: 3px;

}

#browse {
    width: 70px;
    height: 25px;
    margin: 20px;
    background-color: rgb(154, 158, 158);
    border-radius: 5%;
    text-align: center;
    border-radius: 5%;
    border: 1px solid rgb(91, 92, 92);
}

.signIn {
    width: 450px;
    height: 250px;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
    align-items: center;
    position: relative;
    left: 35%;
    top: 30px;
    z-index: 3;
    display: none;
}

h2 {
    height: 20px;
    text-align: center;
    padding: 5px;
}

#login {
    width: 400px;
    height: 25px;
    margin: 10px;
    border: 1px solid rgb(34, 211, 211);
    border-radius: 5%;
    padding: 3px;
}

#pas {
    width: 400px;
    height: 25px;
    margin: 10px;
    border-radius: 5%;
    border: 1px solid rgb(34, 211, 211);
    padding: 3px;
}

#in {
    width: 400px;
    height: 25px;
    margin: 10px;
    background-color: rgb(83, 87, 87);
    border-radius: 5%;
    text-align: center;
    border-radius: 5%;
    border: 1px solid rgb(91, 92, 92);
}

.panel3 {
    width: 100%;
    height: 50px;
    background-color: darkgrey;
    display: none;
    align-items: center;
    justify-content: center;
}

.save {
    width: 40px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/icons8-save-26.png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
    padding-left: 20px;
    border-radius: 5%;
}

.save:hover {
    background-color: rgb(228, 224, 224);
}

.addTable {
    width: 40px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/calendar.png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
    padding-left: 20px;
    border-radius: 5%;
}

.addTable:hover {
    background-color: rgb(228, 224, 224);
}

.addNumerList {
    width: 40px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/number.png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
    padding-left: 20px;
    border-radius: 5%;
}

.addNumerList:hover {
    background-color: rgb(228, 224, 224);
}

.addImgList {
    width: 40px;
    height: 30px;
    color: black;
    border: 0px solid white;
    background-color: white;
    background-image: url(icon/bullet-list.png);
    background-repeat: no-repeat;
    background-position: 32%;
    margin: 0px -3px;
    padding-left: 20px;
    border-radius: 5%;
}

.addImgList:hover {
    background-color: rgb(228, 224, 224);
}

.table {
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 5%;
    display: none;
    position: relative;
    z-index: 3;
    top: 80px;
    left: 75px;
}

span {
    width: 120px;
    height: 25px;
    color: rgb(56, 55, 55);
    margin-top: 5%;
}

.tr {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.td {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tdCount {
    width: 250px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.tdHeight {
    width: 250px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.tabBorder {
    width: 250px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.trCount {
    width: 250px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.trWidth {
    width: 250px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.typeBorder {
    width: 150px;
    height: 33px;
    border-radius: 3%;
    border: 1px solid gray;
}

.colorBorder {
    width: 80px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
    margin-left: 20px;
}

.resetTable {
    width: 261px;
    height: 30px;
    border-radius: 3%;
    background-color: red;
    border: 1px solid red;
    margin-top: 20px;
}

.createTable {
    width: 261px;
    height: 30px;
    border-radius: 3%;
    background-color: green;
    border: 1px solid green;
    margin-top: 20px;
}

.listFormN {
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 5%;
    display: none;
    position: relative;
    z-index: 3;
    top: 80px;
    /* left: 75px; */
    flex-direction: column;
    padding-left: 20px;
}

.countLi {
    width: 360px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.liNumType {
    width: 372px;
    height: 32px;
    border-radius: 3%;
    border: 1px solid gray;
}

.resetListN {
    width: 100px;
    height: 30px;
    border-radius: 3%;
    background-color: red;
    border: 1px solid red;
    margin: 20px 70px;
    padding: 0 20px 0 20px;
}

.resetListI {
    width: 100px;
    height: 30px;
    border-radius: 3%;
    background-color: red;
    border: 1px solid red;
    margin: 20px 70px;
    padding: 0 20px 0 20px;
}

.createList {
    width: 100px;
    height: 30px;
    border-radius: 3%;
    background-color: green;
    border: 1px solid green;
    margin: 20px -24px;
}

.listFormI {
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 5%;
    display: none;
    position: relative;
    z-index: 3;
    top: 80px;
    /* left: 75px; */
    flex-direction: column;
    padding-left: 20px;
}

.liImgType {
    width: 372px;
    height: 32px;
    border-radius: 3%;
    border: 1px solid gray;
}

.countLiImg {
    width: 360px;
    height: 20px;
    border-radius: 3%;
    border: 1px solid gray;
    padding: 5px;
}

.createListI {
    width: 100px;
    height: 30px;
    border-radius: 3%;
    background-color: green;
    border: 1px solid green;
    margin: 20px -24px;
}

.liImgType {
    width: 372px;
    height: 32px;
    border-radius: 3%;
    border: 1px solid gray;
}

td {
    margin: -2px;
}